@font-face
	{
		font-family: OpenSans;
		src:url('../fonts/OpenSans-Light.ttf');
	}

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: OpenSans, sans-serif;
	position: fixed;
}

#main{
	height: 100%;
	width: 100%;
}

#id-number-input{
	opacity:0;
	filter:alpha(opacity=0);
}

.main-right{
	float: left;
	width: 30%;
	height: 100%;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	color: #fff;
	/*background-color: #6FC0D3;*/
	background-color: #68232D;
}

.clock{
	margin-bottom: 20px;
}

#time{
	font-size: 62px;
	/*color: #BDBDBD;	*/
}

#date{
	font-size: 34px;
	/*color: #949494;	*/
	margin-bottom: 20px;
}

.main-left{
	color: #798088;
	float: left;
	height: 100%;
	width: 70%;
	background-color: #FFFFFF;
	/*text-align: center;*/
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.student-pic-display{
	float: left;
	height: 260px;
	width: 260px;
	margin-right: 20px;
}

.student-pic-display img{
	height: 100%;
	width: 100%;
}

.student-info-display{
	float: left;
	height: 100%;
}

.logo-container{
	position: absolute;
	left: -100;
	top: 50%;
  	transform: translateY(-50%);
	height: 370px;
	width: 70%;
	background-color: #FFFFFF;
	z-index: 100;
}

.logo{
	margin-top: 20px;
	height: 100%;
	width: 320px;
	float: right;
}

.student-info{
	float: right;
	width: 100%;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	/*text-align: center;*/
}

.student-label{
	margin-top: 10px;
	color: #6B6B6B;
	font-size: 36px;
}

.student-text{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 36px;
	color: #862E3B;
	font-weight: bold;
}

#footer{
	position: absolute;
	bottom: -60px;
	z-index: 100;
	height: 60px;
	width: 70%;
}

.action{
	float: left;
	height: 100%;
	width: 50%;
	text-align: center;
	font-size: 32px;
	padding-top: 5px;
}

.error{
	height: 100%;
	width: 100%;
	display:box;
	box-pack:center;
	box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
}

form{
	position: absolute;
	z-index: 100;
}