
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body onload="startTime()">
	<div id="main">
		<div class="main-left">
			
		</div>
		<div class="main-right">
			<div class="clock">
				<span id="time"></span><br />
				<span id="date">{{date}}</span>
			</div>
		</div>
		<form id="id-number-input" onsubmit="post()">	
			<input type="text" id="number" placeholder="Student Number"><br>
			<input type="submit">
		</form>
	</div>

	<div id="footer">
		{% if action == 'login' %}
		<a href="/action?action=login"><div class="action" style="background-color:#68232D; color:#FFFFFF;">
			Login
		</div></a>
		<a href="/action?action=logout"><div class="action">
			Logout
		</div></a>

		{% else %}
		<a href="/action?action=login"><div class="action">
			Login
		</div></a>
		<a href="/action?action=logout"><div class="action" style="background-color:#68232D; color:#FFFFFF;">
			Logout
		</div></a>
		{% endif %}
	</div>
	

	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="../static/js/animations.js"></script>
	<script src="../static/js/functions.js"></script>
	
</body>
</html>