<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body onload="startTime(), status_report()">
	<div id="main">
		<div class="logo-container">
			<img class="logo" src="../static/images/sgb.png">
		</div>
		<div class="main-left">
		<div class="info-container">
		</div>
		</div>
		<div class="main-right">
			<div class="clock">
				<span id="time"></span><br />
				<span id="date">{{date}}</span>
			</div>
		</div>
		<form id="id-number-input" onsubmit="post()">	
			<input type="text" id="number" autocomplete="off"><br>
			<input type="submit">
		</form>
	</div>

	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="../static/js/animations.js"></script>
	<script src="../static/js/functions.js"></script>
	
</body>
</html>