<div class="student-pic-display">
	<img src="../static/images/default.png" />
</div>
<div class="student-info-display">
	<div class ="student-info">
		{% if level == 'None' %}
		<br /><br /><br />
		{% endif %}
		<span class="student-label">ID No:</span><span class="student-text">{{id_no}}</span><br /><br />
		<span class="student-label">Name:</span><span id="student-name" class="student-text">{{student_name}}</span><br /><br />
		{% if not level == 'None' %}
		<span class="student-label">Grade/Year:</span><span class="student-text">{{level}}</span><br /><br />
		<span class="student-label">Section:</span><span class="student-text">{{section}}</span>
		{% endif %}
	</div>
</div>
